.gradle/
build/
*/build/
local.properties
*.log
.navigation/
captures/
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/caches/
.idea/navEditor.xml
.externalNativeBuild
.cxx/
*.jks
*.keystore
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~
*.hprof
.kotlin
app/release/
*.apk
*.aab
